.search-input{
  line-height: 20px;
  width: 100%;
  color: #464646;
  border: 1px solid #D8DCE1;
  border-radius: 2px;
  padding-left: 3px;
  background-color: #FCFCFC;
}

.search-input-box{
  display: inline-block;
  width: 40%;
  font-size: 13px;
}

.icon-err{
  margin-top: -1px;
  margin-left: -17px;
  font-size: 25px;
  position: absolute;
  color: #bf0000;
}
  
.search-icon{
  font-size: 22px;
  color: #919699;
  position: absolute;
  margin-left: -10.2%;
  padding-right: 6px;
  margin-top: 17px;
}
  
.search-box{
  display: block;
  height: 50px;
  width: 93%;
  margin-top: 15px;
  margin-left: 80px;
  margin-right: 16px;
  border-bottom: 1px solid lightgray;
}
  
::placeholder {
  color: #848080;
}

.edit-icon {
  font-size: 15px;
  color: gray;
  margin-left: -1.5%;
  margin-top: 0.5%;
  position: absolute;
  cursor: pointer;
}